@model UserModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("LogIn", "User", FormMethod.Post))
{
    <table>
        <tr>
            <td>Name: </td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form"/></td>
        </tr>
    </table>
}